.marginTop-20 {
    margin-top: 20px;
}
html, body {
    background-image: url("dev/assets/bg.png");
    height:100%;
}
.container {
    background-color: white;
}
.fill {
    min-height: 100%;
    height:100%;
}

/* label focus color */
.input-field input:focus + label {
    color: #ed7010 !important;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #ed7010 !important;
    box-shadow: 0 1px 0 0 #ed7010 !important
}